.example-card {
  max-width: 20%;
  margin-top: 2%;
  padding-bottom: 0% !important;
  border-radius: 5px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card-actions {
  width: 100% !important;
  color: #fff;
  font-size: 16px;
  background-color: #3f51b5;
  font-size: 16px;
  border-radius: 10px 10px 0px 0px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discription {
  padding-top: 5%;
}

.price-chip {
  color: #fff;
  background-color: #3f51b5;
}

.total-price {
  padding-bottom: 5%;
}

mat-form-field {
  width: 40%;
}

:host /deep/ mat-chip-list .mat-chip-list-wrapper {
  justify-content: space-between;
}

/* div.mat-chip-list-wrapper {
  justify-content: space-between;
} */
