<mat-list role="list" class="list-top" *ngIf="productListData.length">
  <app-product-card
    (totalPrice)="calculateFinalPrice($event)"
    (deletedItem)="deletedItemFromCart($event)"
    [isCartPageRnedered]="true"
    [productList]="productListData"
    [quantity]="productQuantityCount"
    class="card-container"
  ></app-product-card>
</mat-list>
<h3 class="total-price" *ngIf="productListData.length">
  Grand Total ₹ {{ totalPrice }}
</h3>
<div class="top-align" *ngIf="!productListData.length">
  <img src="../../assets/images/data-not-found.png" />
</div>
